USE [master]
GO
/****** Object:  Database [OnlinePaperMarkingNew]    Script Date: 11/18/2020 7:07:42 PM ******/
CREATE DATABASE [OnlinePaperMarkingNew]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlinePaperMarkingNew', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OnlinePaperMarkingNew.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlinePaperMarkingNew_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OnlinePaperMarkingNew_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlinePaperMarkingNew].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlinePaperMarkingNew]
GO
/****** Object:  Table [dbo].[BankBranches]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankBranches](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BankId] [int] NOT NULL,
	[BranchCode] [varchar](50) NOT NULL,
	[BranchName] [varchar](500) NOT NULL,
 CONSTRAINT [PK_BankBranches] PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banks]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banks](
	[BankID] [int] IDENTITY(1,1) NOT NULL,
	[BankCode] [varchar](50) NOT NULL,
	[BankName] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Banks] PRIMARY KEY CLUSTERED 
(
	[BankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [bigint] IDENTITY(1,1) NOT NULL,
	[LoginId] [bigint] NOT NULL,
	[Total] [decimal](18, 2) NULL,
	[SubTotal] [decimal](18, 2) NULL,
	[IsCheckOut] [bit] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[IsPromoApplied] [bit] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[ItemID] [bigint] IDENTITY(1,1) NOT NULL,
	[PastPaperId] [int] NULL,
	[CartId] [bigint] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Qty] [int] NOT NULL,
	[ItemName] [nvarchar](500) NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictID] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[DistrictCode] [varchar](50) NULL,
	[DistrictName] [varchar](150) NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamMapDetails]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamMapDetails](
	[HotSpotID] [bigint] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NOT NULL,
	[X] [varchar](max) NULL,
	[Y] [varchar](max) NULL,
	[Title] [varchar](500) NULL,
	[Message] [varchar](max) NULL,
	[CreatedType] [varchar](50) NULL,
 CONSTRAINT [PK_ExamMapDetails] PRIMARY KEY CLUSTERED 
(
	[HotSpotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[StudentLoginId] [int] NOT NULL,
	[ExamTypeId] [int] NOT NULL,
	[MediumId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[PastPaperId] [int] NULL,
	[Tutor1LoginId] [int] NULL,
	[Tutor2LoginId] [int] NULL,
	[AssignToTutor] [varchar](50) NULL,
	[AssignToTutorReadyDate] [datetime] NULL,
	[TutorApprovedDate] [datetime] NULL,
	[TutorDeadlineDate] [datetime] NULL,
	[TutorCompletedDate] [datetime] NULL,
	[NotificationId] [bigint] NULL,
	[ExamNo] [varchar](500) NULL,
	[FirstPaperAnswerSheetsPath] [varchar](max) NULL,
	[SecondPaperAnswerSheetsPath] [varchar](max) NULL,
	[FirstPaperMarkedSheetsPath] [varchar](max) NULL,
	[SecondPaperMarkedSheetsPath] [varchar](max) NULL,
	[FirstPaperMarks] [decimal](18, 2) NOT NULL,
	[SecondPaperMarks] [decimal](18, 2) NOT NULL,
	[TotalMarks] [decimal](18, 2) NOT NULL,
	[StudentStatus] [varchar](50) NULL,
	[TutorStatus] [varchar](50) NULL,
	[IsFirstPaperCompleted] [bit] NULL,
	[IsSecondPaperCompleted] [bit] NOT NULL,
	[TutorCommentsForFirstPaper] [varchar](max) NULL,
	[TutorCommentsForSecondPaper] [varchar](max) NULL,
	[IsAdminAssignToTutor] [bit] NOT NULL,
	[AdminAssignToTutorReason] [varchar](max) NULL,
	[PriceForTutor] [decimal](18, 2) NOT NULL,
	[IsPaidForTutor] [bit] NOT NULL,
	[PaidDateForTutor] [datetime] NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdateUser] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsThirdPaperCompleted] [bit] NOT NULL,
	[FirstPaperRemainingTime] [int] NOT NULL,
	[SecondPaperRemainingTime] [int] NOT NULL,
	[ThirdPaperRemainingTime] [int] NOT NULL,
 CONSTRAINT [PK_Exams] PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamTypes]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamTypes](
	[ExamTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ExamTypeCode] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](50) NULL,
 CONSTRAINT [PK_ExamTypes] PRIMARY KEY CLUSTERED 
(
	[ExamTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoggedDetails]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoggedDetails](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LoginId] [bigint] NOT NULL,
	[LoggedDate] [date] NOT NULL,
	[LoggedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_LoggedDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[McqDetails]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[McqDetails](
	[McqID] [bigint] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[ExamTypeID] [int] NOT NULL,
	[QuestionNo] [int] NOT NULL,
	[Answer] [varchar](50) NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_McqDetails] PRIMARY KEY CLUSTERED 
(
	[McqID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mediums]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mediums](
	[MediumID] [int] IDENTITY(1,1) NOT NULL,
	[MediumCode] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](50) NULL,
 CONSTRAINT [PK_Mediums] PRIMARY KEY CLUSTERED 
(
	[MediumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationAssign]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationAssign](
	[AssignID] [bigint] IDENTITY(1,1) NOT NULL,
	[NotificationId] [bigint] NOT NULL,
	[LoginId] [bigint] NOT NULL,
	[ControllerName] [varchar](50) NULL,
	[MethodName] [varchar](500) NULL,
	[IsExpired] [bit] NOT NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_NotificationAssign] PRIMARY KEY CLUSTERED 
(
	[AssignID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [bigint] IDENTITY(1,1) NOT NULL,
	[NotificationHeader] [varchar](max) NULL,
	[NotificationDetail] [varchar](max) NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OldUsers]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OldUsers](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[MobileNo] [varchar](max) NULL,
 CONSTRAINT [PK_OldUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OnlineClasses]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlineClasses](
	[ClassID] [bigint] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](500) NULL,
	[Date] [nvarchar](50) NULL,
	[Time] [nvarchar](50) NULL,
	[Image] [varchar](max) NULL,
	[Master] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_OnlineClasses] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OnlineUser]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlineUser](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[UserName] [varchar](28) NULL,
	[Password] [varchar](max) NULL,
	[ResetPassword] [bit] NULL,
	[RecDate] [datetime] NULL,
	[RecUser] [int] NULL,
	[LastLogin] [datetime] NULL,
	[UserRoleId] [int] NULL,
	[IsDelete] [bit] NULL,
	[TrnFlag] [int] NULL,
	[IsActive] [bit] NULL,
	[PassWordExpiryDate] [datetime] NULL,
	[VerificationCode] [varchar](50) NULL,
	[PasswordResetCode] [varchar](50) NULL,
	[IsVerified] [bit] NULL,
	[IsBlocked] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[ProfileImagePath] [varchar](max) NULL,
	[ProfileCompletionPercentage] [int] NOT NULL,
 CONSTRAINT [PK_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperDownloadDetails]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperDownloadDetails](
	[DownloadID] [bigint] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NOT NULL,
	[PaperId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_PaperDownloadDetails] PRIMARY KEY CLUSTERED 
(
	[DownloadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PastPapers]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PastPapers](
	[PastPaerID] [int] IDENTITY(1,1) NOT NULL,
	[PaperName] [nvarchar](4000) NULL,
	[Year] [int] NULL,
	[SubjectID] [int] NOT NULL,
	[ExamTypeID] [int] NOT NULL,
	[MediumID] [int] NOT NULL,
	[BoxImagePath] [varchar](max) NULL,
	[PaperPreviewPath] [varchar](max) NULL,
	[PaperDownloadPath] [varchar](max) NULL,
	[MarkingSchemePath] [varchar](max) NULL,
	[MapImagePath] [varchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[McqQuestionCount] [int] NULL,
	[HasMcq] [bit] NOT NULL,
	[HasMap] [bit] NOT NULL,
	[IsOnlineExam] [bit] NOT NULL,
	[HasThirdPaper] [bit] NOT NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[FirstPaperTime] [int] NULL,
	[SecondPaperTime] [int] NULL,
	[ThirdPaperTime] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__PastPape__A59F3F4DB410C2B4] PRIMARY KEY CLUSTERED 
(
	[PastPaerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreferedTutorExamTypes]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreferedTutorExamTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NOT NULL,
	[ExamTypeId] [int] NOT NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_PreferedTutorExamTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreferedTutorMediums]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreferedTutorMediums](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NOT NULL,
	[MediumId] [int] NOT NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [varchar](50) NULL,
 CONSTRAINT [PK_PreferedTutorMediums] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreferedTutorSubject]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreferedTutorSubject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_PreferedTutorSubject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromoCodes]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromoCodes](
	[PromoCodeID] [int] IDENTITY(1,1) NOT NULL,
	[PromoCode] [varchar](max) NOT NULL,
 CONSTRAINT [PK_PromoCodes] PRIMARY KEY CLUSTERED 
(
	[PromoCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[ProvinceID] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceCode] [varchar](50) NULL,
	[ProvinceName] [varchar](150) NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentsMcqAnswers]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsMcqAnswers](
	[AnswerID] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentLoginId] [int] NOT NULL,
	[ExamId] [int] NOT NULL,
	[Answer] [int] NULL,
	[QuestionNo] [int] NOT NULL,
	[CreatedUser] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_StudentsMcqAnswers] PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectImages]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[MediumId] [int] NOT NULL,
	[ImagePath] [varchar](max) NULL,
 CONSTRAINT [PK_SubjectImages] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[ExamTypeId] [int] NULL,
	[SubjectName] [varchar](500) NULL,
	[Description] [varchar](max) NULL,
	[ImagePath] [varchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PriceForTutor] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOnlineStudentMaster]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOnlineStudentMaster](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentInitials] [varchar](max) NULL,
	[StudentFirstName] [varchar](max) NULL,
	[StudentLastName] [varchar](max) NULL,
	[StudentFullName] [varchar](max) NULL,
	[Gender] [int] NULL,
	[DateOfBirth] [datetime] NULL,
	[AddressLine1] [varchar](max) NULL,
	[AddressLine2] [varchar](max) NULL,
	[AddressLine3] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[District] [varchar](50) NULL,
	[ContactNo1] [varchar](max) NULL,
	[ContactNo2] [varchar](max) NULL,
	[StudentEmail] [varchar](max) NULL,
	[Religion] [int] NULL,
	[Nationality] [varchar](max) NULL,
	[StudentImage] [image] NULL,
	[FirstLanguage] [varchar](max) NULL,
	[StudentNIC] [varchar](max) NULL,
	[PostalID] [varchar](max) NULL,
	[PassportID] [varchar](max) NULL,
	[SessionID] [varchar](max) NULL,
	[StatusID] [int] NULL,
	[InactivationDate] [datetime] NULL,
	[PreviousStudentNo] [varchar](max) NULL,
	[School] [varchar](max) NULL,
	[PreviousSchoolAddress] [varchar](max) NULL,
	[AcademicYear] [varchar](max) NULL,
	[CurrentYear] [varchar](max) NULL,
	[CurrentGrade] [varchar](max) NULL,
	[CurrentClass] [varchar](max) NULL,
	[CreatedBy] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[Email] [varchar](max) NULL,
	[AlternativeEmail] [varchar](max) NULL,
	[LoginID] [int] NULL,
	[OnlineStudentID] [int] NULL,
	[DownloadDate] [datetime] NULL,
	[RegistartionDate] [date] NULL,
	[RegistrationFromTime] [varchar](250) NULL,
	[RegistrationToTime] [varchar](250) NULL,
	[IsExported] [bit] NULL,
	[DistrictId] [int] NULL,
	[ProvinceId] [int] NULL,
	[ExamTypeId] [int] NULL,
	[MediumId] [int] NULL,
	[PurchasedPaperCount] [int] NOT NULL,
	[DownloadedPaperCount] [int] NOT NULL,
	[IsPromoCodeUsed] [bit] NOT NULL,
 CONSTRAINT [PK_tblOnlineStudentMaster] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTutors]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTutors](
	[TutorID] [int] IDENTITY(1,1) NOT NULL,
	[TutorInitials] [varchar](max) NULL,
	[TutorFirstName] [varchar](max) NULL,
	[TutorLastName] [varchar](max) NULL,
	[TutorFullName] [varchar](max) NULL,
	[Gender] [int] NULL,
	[DateOfBirth] [datetime] NULL,
	[AddressLine1] [varchar](max) NULL,
	[AddressLine2] [varchar](max) NULL,
	[AddressLine3] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[District] [varchar](50) NULL,
	[ContactNo1] [varchar](max) NULL,
	[ContactNo2] [varchar](max) NULL,
	[TutorEmail] [varchar](max) NULL,
	[Religion] [int] NULL,
	[Nationality] [varchar](max) NULL,
	[TutorImage] [image] NULL,
	[FirstLanguage] [varchar](max) NULL,
	[TutorNIC] [varchar](max) NULL,
	[PostalID] [varchar](max) NULL,
	[PassportID] [varchar](max) NULL,
	[SessionID] [varchar](max) NULL,
	[StatusID] [int] NULL,
	[InactivationDate] [datetime] NULL,
	[PreviousTutorNo] [varchar](max) NULL,
	[School/University] [varchar](max) NULL,
	[DistrictId] [int] NULL,
	[PreviousSchoolAddress] [varchar](max) NULL,
	[AcademicYear] [varchar](max) NULL,
	[CreatedBy] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[AlternativeEmail] [varchar](max) NULL,
	[LoginID] [int] NULL,
	[DownloadDate] [datetime] NULL,
	[RegistartionDate] [date] NULL,
	[RegistrationFromTime] [varchar](250) NULL,
	[RegistrationToTime] [varchar](250) NULL,
	[IsExported] [bit] NULL,
	[Medium] [varchar](50) NULL,
	[BankId] [int] NULL,
	[BranchId] [int] NULL,
	[AccountNo] [varchar](50) NULL,
	[Subject] [varchar](50) NULL,
	[Occupation] [varchar](500) NULL,
	[PendingExamsCount] [int] NOT NULL,
	[AdminApproval] [varchar](50) NOT NULL,
	[CompletedExamsCount] [int] NOT NULL,
	[DownloadedPaperCount] [int] NOT NULL,
 CONSTRAINT [PK_tblTutor] PRIMARY KEY CLUSTERED 
(
	[TutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](4000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TutorHotSpots]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TutorHotSpots](
	[HotSpotID] [bigint] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NOT NULL,
	[ImageId] [varchar](max) NULL,
	[X] [varchar](max) NULL,
	[Y] [varchar](max) NULL,
	[Title] [varchar](max) NULL,
	[Message] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_TutorHotSpots] PRIMARY KEY CLUSTERED 
(
	[HotSpotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TutorQualifications]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TutorQualifications](
	[QualificationID] [bigint] IDENTITY(1,1) NOT NULL,
	[LoginId] [bigint] NOT NULL,
	[CertificateType] [varchar](max) NOT NULL,
	[ImagePath] [varchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_TutorQualifications] PRIMARY KEY CLUSTERED 
(
	[QualificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UploadImages]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadImages](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NULL,
	[ImageId] [varchar](max) NULL,
	[ImagePath] [varchar](max) NULL,
 CONSTRAINT [PK_UploadImages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 11/18/2020 7:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[CodeFieldName] [varchar](50) NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BankBranches] ON 

INSERT [dbo].[BankBranches] ([BranchID], [BankId], [BranchCode], [BranchName]) VALUES (1, 1, N'001', N'Colombo')
INSERT [dbo].[BankBranches] ([BranchID], [BankId], [BranchCode], [BranchName]) VALUES (2, 1, N'002', N'Kandy')
INSERT [dbo].[BankBranches] ([BranchID], [BankId], [BranchCode], [BranchName]) VALUES (3, 1, N'003', N'Gampaha')
SET IDENTITY_INSERT [dbo].[BankBranches] OFF
SET IDENTITY_INSERT [dbo].[Banks] ON 

INSERT [dbo].[Banks] ([BankID], [BankCode], [BankName]) VALUES (1, N'COM', N'Commercial Bank')
INSERT [dbo].[Banks] ([BankID], [BankCode], [BankName]) VALUES (2, N'SAM', N'Sampath Bank')
INSERT [dbo].[Banks] ([BankID], [BankCode], [BankName]) VALUES (3, N'HNB', N'Hatton National Bank')
SET IDENTITY_INSERT [dbo].[Banks] OFF
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartId], [LoginId], [Total], [SubTotal], [IsCheckOut], [PaymentDate], [IsPromoApplied]) VALUES (120028, 50018, CAST(350.00 AS Decimal(18, 2)), CAST(350.00 AS Decimal(18, 2)), 1, NULL, 0)
INSERT [dbo].[Cart] ([CartId], [LoginId], [Total], [SubTotal], [IsCheckOut], [PaymentDate], [IsPromoApplied]) VALUES (120029, 50018, CAST(350.00 AS Decimal(18, 2)), CAST(350.00 AS Decimal(18, 2)), 1, NULL, 0)
INSERT [dbo].[Cart] ([CartId], [LoginId], [Total], [SubTotal], [IsCheckOut], [PaymentDate], [IsPromoApplied]) VALUES (120045, 50018, CAST(350.00 AS Decimal(18, 2)), CAST(350.00 AS Decimal(18, 2)), 1, NULL, 0)
SET IDENTITY_INSERT [dbo].[Cart] OFF
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([ItemID], [PastPaperId], [CartId], [UnitPrice], [Qty], [ItemName]) VALUES (110045, 22, 120028, CAST(350.00 AS Decimal(18, 2)), 1, N'O/L-Health and Physical Education-2009')
INSERT [dbo].[CartItems] ([ItemID], [PastPaperId], [CartId], [UnitPrice], [Qty], [ItemName]) VALUES (110046, 22, 120029, CAST(350.00 AS Decimal(18, 2)), 1, N'O/L-Health and Physical Education-2009')
INSERT [dbo].[CartItems] ([ItemID], [PastPaperId], [CartId], [UnitPrice], [Qty], [ItemName]) VALUES (110047, 22, 120045, CAST(350.00 AS Decimal(18, 2)), 1, N'O/L-Health and Physical Education-2009')
SET IDENTITY_INSERT [dbo].[CartItems] OFF
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([DistrictID], [ProvinceId], [DistrictCode], [DistrictName]) VALUES (1, 1, N'COL', N'Colombo')
INSERT [dbo].[Districts] ([DistrictID], [ProvinceId], [DistrictCode], [DistrictName]) VALUES (2, 1, N'KAL', N'Kalutara')
INSERT [dbo].[Districts] ([DistrictID], [ProvinceId], [DistrictCode], [DistrictName]) VALUES (3, 1, N'GAM', N'Gampaha')
SET IDENTITY_INSERT [dbo].[Districts] OFF
SET IDENTITY_INSERT [dbo].[Exams] ON 

SET IDENTITY_INSERT [dbo].[Exams] OFF
SET IDENTITY_INSERT [dbo].[ExamTypes] ON 

INSERT [dbo].[ExamTypes] ([ExamTypeID], [ExamTypeCode], [Description], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser]) VALUES (1, N'O/L', N'Ordinary Level', NULL, NULL, NULL, NULL)
INSERT [dbo].[ExamTypes] ([ExamTypeID], [ExamTypeCode], [Description], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser]) VALUES (2, N'A/L', N'Advance Level', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ExamTypes] OFF
SET IDENTITY_INSERT [dbo].[LoggedDetails] ON 

INSERT [dbo].[LoggedDetails] ([ID], [LoginId], [LoggedDate], [LoggedDateTime]) VALUES (1, 50018, CAST(N'2020-08-13' AS Date), CAST(N'2020-08-13T12:43:06.067' AS DateTime))
INSERT [dbo].[LoggedDetails] ([ID], [LoginId], [LoggedDate], [LoggedDateTime]) VALUES (2, 0, CAST(N'2020-08-13' AS Date), CAST(N'2020-08-13T12:46:23.950' AS DateTime))
INSERT [dbo].[LoggedDetails] ([ID], [LoginId], [LoggedDate], [LoggedDateTime]) VALUES (3, 0, CAST(N'2020-08-13' AS Date), CAST(N'2020-08-13T14:05:23.300' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LoggedDetails] OFF
SET IDENTITY_INSERT [dbo].[Mediums] ON 

INSERT [dbo].[Mediums] ([MediumID], [MediumCode], [Description], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser]) VALUES (1, N'SIN', N'Sinhala', NULL, NULL, NULL, NULL)
INSERT [dbo].[Mediums] ([MediumID], [MediumCode], [Description], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser]) VALUES (2, N'ENG', N'English', NULL, NULL, NULL, NULL)
INSERT [dbo].[Mediums] ([MediumID], [MediumCode], [Description], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser]) VALUES (3, N'TAM', N'Tamil', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Mediums] OFF
SET IDENTITY_INSERT [dbo].[NotificationAssign] ON 

INSERT [dbo].[NotificationAssign] ([AssignID], [NotificationId], [LoginId], [ControllerName], [MethodName], [IsExpired], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdateDate]) VALUES (10002, 10002, 2, N'TutorDashboard', N'ExamApprovals', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[NotificationAssign] ([AssignID], [NotificationId], [LoginId], [ControllerName], [MethodName], [IsExpired], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdateDate]) VALUES (10003, 10003, 2, N'TutorDashboard', N'ExamApprovals', 1, N'System', CAST(N'2020-06-15T12:00:13.720' AS DateTime), NULL, NULL)
INSERT [dbo].[NotificationAssign] ([AssignID], [NotificationId], [LoginId], [ControllerName], [MethodName], [IsExpired], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdateDate]) VALUES (10004, 10004, 2, N'TutorDashboard', N'ExamApprovals', 1, N'System', CAST(N'2020-06-15T12:18:19.180' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[NotificationAssign] OFF
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [NotificationHeader], [NotificationDetail], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdatedDate]) VALUES (10002, N'Health and Physical Education Paper', N'Health and Physical Education paper available', NULL, NULL, NULL, NULL)
INSERT [dbo].[Notifications] ([NotificationID], [NotificationHeader], [NotificationDetail], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdatedDate]) VALUES (10003, N'Health and Physical Education Paper Recieved.', N'You can get the paper by clicking this notification.', N'System', CAST(N'2020-06-15T11:59:47.047' AS DateTime), NULL, NULL)
INSERT [dbo].[Notifications] ([NotificationID], [NotificationHeader], [NotificationDetail], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdatedDate]) VALUES (10004, N'Health and Physical Education Paper Recieved.', N'You can get the paper by clicking this notification.', N'System', CAST(N'2020-06-15T12:18:05.717' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
SET IDENTITY_INSERT [dbo].[OldUsers] ON 

INSERT [dbo].[OldUsers] ([UserId], [MobileNo]) VALUES (1, N'0112705554')
SET IDENTITY_INSERT [dbo].[OldUsers] OFF
SET IDENTITY_INSERT [dbo].[OnlineClasses] ON 

INSERT [dbo].[OnlineClasses] ([ClassID], [ClassName], [Date], [Time], [Image], [Master], [Price], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdatedDate]) VALUES (1, N'‌ගණිතය - සියලු සිද්ධාන්ත ආවරණය කෙරෙන විශේෂ පුනරීක්ෂණ පාඨමාලාව', N'බ්‍රහස්පතින්දා', N'7.00am - 11.00am', N'Maths.jpeg', N'ප්‍රවීණ දේශක නිරෝෂණ ගමගේ', CAST(1000.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL)
INSERT [dbo].[OnlineClasses] ([ClassID], [ClassName], [Date], [Time], [Image], [Master], [Price], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdatedDate]) VALUES (2, N'ඉංග්‍රීසි - විභාගය ඉලක්ක කරගත් විශේෂ පුනරීක්ෂණ පාඨමාලාව', N'සෙනසුරාදා', N'7.00am - 11.00am', N'English.jpg', N'ප්‍රවීණ දේශිකා සහ රජයේ පාසැලක ආචාර්ය වසන්ති දහනායක', CAST(1000.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL)
INSERT [dbo].[OnlineClasses] ([ClassID], [ClassName], [Date], [Time], [Image], [Master], [Price], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdatedDate]) VALUES (3, N'ඉතිහාසය - සියලු සිද්ධාන්ත ආවරණය කෙරෙන විශේෂ පුනරීක්ෂණ පාඨමාලාව', N'අඟහරුවාදා', N'7.00am - 11.00am', N'History.jpg', N'්‍රවීණ දේශිකා, කු/මලියදේව විද්‍යාලයේ ආචාර්ය සන්ධ්‍යා කාන්ති ', CAST(1000.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OnlineClasses] OFF
SET IDENTITY_INSERT [dbo].[OnlineUser] ON 

INSERT [dbo].[OnlineUser] ([ID], [LoginID], [UserName], [Password], [ResetPassword], [RecDate], [RecUser], [LastLogin], [UserRoleId], [IsDelete], [TrnFlag], [IsActive], [PassWordExpiryDate], [VerificationCode], [PasswordResetCode], [IsVerified], [IsBlocked], [CreatedDate], [ModifiedDate], [ProfileImagePath], [ProfileCompletionPercentage]) VALUES (1, 0, N'Infox', N'Infox@123', NULL, NULL, NULL, NULL, 1, NULL, NULL, 1, NULL, NULL, NULL, 1, 0, CAST(N'2020-08-10T00:00:00.000' AS DateTime), NULL, N'D:\Disapamock\TutorUploads\cricinfo205043383.png', 0)
INSERT [dbo].[OnlineUser] ([ID], [LoginID], [UserName], [Password], [ResetPassword], [RecDate], [RecUser], [LastLogin], [UserRoleId], [IsDelete], [TrnFlag], [IsActive], [PassWordExpiryDate], [VerificationCode], [PasswordResetCode], [IsVerified], [IsBlocked], [CreatedDate], [ModifiedDate], [ProfileImagePath], [ProfileCompletionPercentage]) VALUES (30014, 1, N'isharaz281@gmail.com', N'12345', NULL, NULL, NULL, NULL, 2, NULL, NULL, NULL, NULL, N'053513', N'268097', 1, 0, CAST(N'2020-08-10T00:00:00.000' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[OnlineUser] OFF
SET IDENTITY_INSERT [dbo].[PaperDownloadDetails] ON 

INSERT [dbo].[PaperDownloadDetails] ([DownloadID], [LoginId], [PaperId], [CreatedDate]) VALUES (1, 50018, 22, CAST(N'2020-08-27T11:36:32.033' AS DateTime))
INSERT [dbo].[PaperDownloadDetails] ([DownloadID], [LoginId], [PaperId], [CreatedDate]) VALUES (2, 50018, 22, CAST(N'2020-08-27T12:09:39.980' AS DateTime))
INSERT [dbo].[PaperDownloadDetails] ([DownloadID], [LoginId], [PaperId], [CreatedDate]) VALUES (3, 50018, 724, CAST(N'2020-09-04T16:50:31.467' AS DateTime))
SET IDENTITY_INSERT [dbo].[PaperDownloadDetails] OFF
SET IDENTITY_INSERT [dbo].[PastPapers] ON 

GO
SET IDENTITY_INSERT [dbo].[PastPapers] OFF
SET IDENTITY_INSERT [dbo].[PreferedTutorExamTypes] ON 

INSERT [dbo].[PreferedTutorExamTypes] ([ID], [LoginId], [ExamTypeId], [CreatedUser], [CreatedDate]) VALUES (1002, 1, 1, N'1', CAST(N'2020-05-25T11:14:40.717' AS DateTime))
INSERT [dbo].[PreferedTutorExamTypes] ([ID], [LoginId], [ExamTypeId], [CreatedUser], [CreatedDate]) VALUES (1003, 1, 2, N'1', CAST(N'2020-05-25T11:14:40.773' AS DateTime))
INSERT [dbo].[PreferedTutorExamTypes] ([ID], [LoginId], [ExamTypeId], [CreatedUser], [CreatedDate]) VALUES (1012, 2, 1, N'2', CAST(N'2020-08-31T16:07:22.857' AS DateTime))
SET IDENTITY_INSERT [dbo].[PreferedTutorExamTypes] OFF
SET IDENTITY_INSERT [dbo].[PreferedTutorMediums] ON 

INSERT [dbo].[PreferedTutorMediums] ([ID], [LoginId], [MediumId], [CreatedUser], [CreatedDate]) VALUES (1002, 1, 1, N'1', NULL)
INSERT [dbo].[PreferedTutorMediums] ([ID], [LoginId], [MediumId], [CreatedUser], [CreatedDate]) VALUES (1003, 1, 2, N'1', NULL)
SET IDENTITY_INSERT [dbo].[PreferedTutorMediums] OFF
SET IDENTITY_INSERT [dbo].[PreferedTutorSubject] ON 

INSERT [dbo].[PreferedTutorSubject] ([ID], [LoginId], [SubjectId], [CreatedUser], [CreatedDate]) VALUES (1020, 2, 11, N'2', CAST(N'2020-08-31T16:07:22.860' AS DateTime))
INSERT [dbo].[PreferedTutorSubject] ([ID], [LoginId], [SubjectId], [CreatedUser], [CreatedDate]) VALUES (1021, 2, 12, N'2', CAST(N'2020-08-31T16:07:22.860' AS DateTime))
SET IDENTITY_INSERT [dbo].[PreferedTutorSubject] OFF
SET IDENTITY_INSERT [dbo].[PromoCodes] ON 

INSERT [dbo].[PromoCodes] ([PromoCodeID], [PromoCode]) VALUES (1, N'0001')
SET IDENTITY_INSERT [dbo].[PromoCodes] OFF
SET IDENTITY_INSERT [dbo].[Provinces] ON 

INSERT [dbo].[Provinces] ([ProvinceID], [ProvinceCode], [ProvinceName]) VALUES (1, N'WE', N'Western')
INSERT [dbo].[Provinces] ([ProvinceID], [ProvinceCode], [ProvinceName]) VALUES (2, N'SOU', N'South')
SET IDENTITY_INSERT [dbo].[Provinces] OFF
SET IDENTITY_INSERT [dbo].[StudentsMcqAnswers] ON 

INSERT [dbo].[StudentsMcqAnswers] ([AnswerID], [StudentLoginId], [ExamId], [Answer], [QuestionNo], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdatedDate]) VALUES (10211, 50018, 7039, 1, 1, N'50018', CAST(N'2020-08-20T13:52:50.257' AS DateTime), N'50018', CAST(N'2020-08-20T13:52:50.883' AS DateTime))
INSERT [dbo].[StudentsMcqAnswers] ([AnswerID], [StudentLoginId], [ExamId], [Answer], [QuestionNo], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdatedDate]) VALUES (10212, 50018, 7039, 2, 2, N'50018', CAST(N'2020-08-20T13:52:50.677' AS DateTime), N'50018', CAST(N'2020-08-20T13:52:51.190' AS DateTime))
INSERT [dbo].[StudentsMcqAnswers] ([AnswerID], [StudentLoginId], [ExamId], [Answer], [QuestionNo], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdatedDate]) VALUES (10213, 50018, 7039, 2, 3, N'50018', CAST(N'2020-08-20T13:52:51.600' AS DateTime), N'50018', CAST(N'2020-08-20T13:52:52.113' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[StudentsMcqAnswers] OFF
SET IDENTITY_INSERT [dbo].[SubjectImages] ON 

INSERT [dbo].[SubjectImages] ([ImageID], [SubjectId], [MediumId], [ImagePath]) VALUES (1, 11, 1, N'D:/Disapamock/BoxImages/11-sinhala.png')
INSERT [dbo].[SubjectImages] ([ImageID], [SubjectId], [MediumId], [ImagePath]) VALUES (2, 11, 2, N'F:/Disapamock/BoxImages/11-english.png')
INSERT [dbo].[SubjectImages] ([ImageID], [SubjectId], [MediumId], [ImagePath]) VALUES (3, 11, 3, N'F:/Disapamock/BoxImages/11-tamil.png')
SET IDENTITY_INSERT [dbo].[SubjectImages] OFF
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectID], [ExamTypeId], [SubjectName], [Description], [ImagePath], [Price], [PriceForTutor], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (11, 1, N'HPE', N'Health and Physical Education', NULL, CAST(300.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), NULL, NULL, CAST(N'2020-07-30T17:25:09.330' AS DateTime), N'0', 1)
INSERT [dbo].[Subjects] ([SubjectID], [ExamTypeId], [SubjectName], [Description], [ImagePath], [Price], [PriceForTutor], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (12, 1, N'ICT', N'Information and Communications Technology', NULL, CAST(300.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), NULL, NULL, CAST(N'2020-08-20T22:57:02.117' AS DateTime), N'0', 1)
INSERT [dbo].[Subjects] ([SubjectID], [ExamTypeId], [SubjectName], [Description], [ImagePath], [Price], [PriceForTutor], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (13, 1, N'WM', N'Western Music', NULL, CAST(300.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
SET IDENTITY_INSERT [dbo].[tblOnlineStudentMaster] ON 

SET IDENTITY_INSERT [dbo].[tblOnlineStudentMaster] OFF
SET IDENTITY_INSERT [dbo].[tblTutors] ON 

SET IDENTITY_INSERT [dbo].[tblTutors] OFF
SET IDENTITY_INSERT [dbo].[Test] ON 

INSERT [dbo].[Test] ([Id], [Message]) VALUES (1, N'Hello World!')
INSERT [dbo].[Test] ([Id], [Message]) VALUES (2, N'සුභ උදෑසනක්!')
SET IDENTITY_INSERT [dbo].[Test] OFF
SET IDENTITY_INSERT [dbo].[UploadImages] ON 

INSERT [dbo].[UploadImages] ([ID], [ExamId], [ImageId], [ImagePath]) VALUES (70032, 7039, N'cricinfo202251115', N'D:\Disapamock\StudentUploads\7039\7039-2\cricinfo202251115.png')
INSERT [dbo].[UploadImages] ([ID], [ExamId], [ImageId], [ImagePath]) VALUES (70033, 7040, N'cricinfo202714616', N'D:\Disapamock\StudentUploads\7040\7040-2\cricinfo202714616.png')
INSERT [dbo].[UploadImages] ([ID], [ExamId], [ImageId], [ImagePath]) VALUES (70034, 7046, N'cricinfo200347666', N'D:\Disapamock\StudentUploads\7046\7046-1\cricinfo200347666.png')
SET IDENTITY_INSERT [dbo].[UploadImages] OFF
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([ID], [Code], [CodeFieldName]) VALUES (1, N'Admin', N'Admin')
INSERT [dbo].[UserRole] ([ID], [Code], [CodeFieldName]) VALUES (2, N'Student', N'Student')
INSERT [dbo].[UserRole] ([ID], [Code], [CodeFieldName]) VALUES (3, N'Tutor', N'Tutor')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [DF_Cart_isCheckOut]  DEFAULT ((0)) FOR [IsCheckOut]
GO
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [DF_Cart_IsPromoApplied]  DEFAULT ((0)) FOR [IsPromoApplied]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_FirstPaperMark]  DEFAULT ((0)) FOR [FirstPaperMarks]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_SecondPaperMark]  DEFAULT ((0)) FOR [SecondPaperMarks]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_TotalMarks]  DEFAULT ((0)) FOR [TotalMarks]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_IsFirstPaperCompleted]  DEFAULT ((0)) FOR [IsFirstPaperCompleted]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_IsSecondPaperCompleted]  DEFAULT ((0)) FOR [IsSecondPaperCompleted]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_IsAdminAssignToTutor]  DEFAULT ((0)) FOR [IsAdminAssignToTutor]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_PriceForTutor]  DEFAULT ((0)) FOR [PriceForTutor]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_IsPaidForTutor]  DEFAULT ((0)) FOR [IsPaidForTutor]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_IsThirdPaperCompleted]  DEFAULT ((0)) FOR [IsThirdPaperCompleted]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_FirstPaperRemainingTime]  DEFAULT ((0)) FOR [FirstPaperRemainingTime]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_SecondPaperRemainingTime]  DEFAULT ((0)) FOR [SecondPaperRemainingTime]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_ThirdPaperRemainingTime]  DEFAULT ((0)) FOR [ThirdPaperRemainingTime]
GO
ALTER TABLE [dbo].[NotificationAssign] ADD  CONSTRAINT [DF_NotificationAssign_IsExpired]  DEFAULT ((0)) FOR [IsExpired]
GO
ALTER TABLE [dbo].[OnlineClasses] ADD  CONSTRAINT [DF_OnlineClasses_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[OnlineUser] ADD  CONSTRAINT [DF_OnlineUser_IsBlocked]  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[OnlineUser] ADD  CONSTRAINT [DF_OnlineUser_ProfileCompletionPercentage]  DEFAULT ((0)) FOR [ProfileCompletionPercentage]
GO
ALTER TABLE [dbo].[PastPapers] ADD  CONSTRAINT [DF_PastPapers_HasMcq]  DEFAULT ((1)) FOR [HasMcq]
GO
ALTER TABLE [dbo].[PastPapers] ADD  CONSTRAINT [DF_PastPapers_HasMap]  DEFAULT ((0)) FOR [HasMap]
GO
ALTER TABLE [dbo].[PastPapers] ADD  CONSTRAINT [DF_PastPapers_IsOnlineExam]  DEFAULT ((0)) FOR [IsOnlineExam]
GO
ALTER TABLE [dbo].[PastPapers] ADD  CONSTRAINT [DF_PastPapers_HasThirdPaper]  DEFAULT ((0)) FOR [HasThirdPaper]
GO
ALTER TABLE [dbo].[PastPapers] ADD  CONSTRAINT [DF_PastPapers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Subjects] ADD  CONSTRAINT [DF_Subjects_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Subjects] ADD  CONSTRAINT [DF_Subjects_PriceForTutor]  DEFAULT ((0)) FOR [PriceForTutor]
GO
ALTER TABLE [dbo].[Subjects] ADD  CONSTRAINT [DF_Subjects_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tblOnlineStudentMaster] ADD  CONSTRAINT [DF_tblStudentMaster_StatusID]  DEFAULT ((4)) FOR [StatusID]
GO
ALTER TABLE [dbo].[tblOnlineStudentMaster] ADD  CONSTRAINT [DF_tblStudentMaster_DownloadDate]  DEFAULT (getdate()) FOR [DownloadDate]
GO
ALTER TABLE [dbo].[tblOnlineStudentMaster] ADD  CONSTRAINT [DF_tblStudentMaster_IsExported]  DEFAULT ((0)) FOR [IsExported]
GO
ALTER TABLE [dbo].[tblOnlineStudentMaster] ADD  CONSTRAINT [DF_tblOnlineStudentMaster_PurchasedPaperCount]  DEFAULT ((0)) FOR [PurchasedPaperCount]
GO
ALTER TABLE [dbo].[tblOnlineStudentMaster] ADD  CONSTRAINT [DF_tblOnlineStudentMaster_DownloadedPaperCount]  DEFAULT ((0)) FOR [DownloadedPaperCount]
GO
ALTER TABLE [dbo].[tblOnlineStudentMaster] ADD  CONSTRAINT [DF_tblOnlineStudentMaster_IsPromoCodeUsed]  DEFAULT ((0)) FOR [IsPromoCodeUsed]
GO
ALTER TABLE [dbo].[tblTutors] ADD  CONSTRAINT [DF_tblTutors_PendingExamsCount]  DEFAULT ((0)) FOR [PendingExamsCount]
GO
ALTER TABLE [dbo].[tblTutors] ADD  CONSTRAINT [DF_tblTutors_AdminApproval]  DEFAULT ('Pending') FOR [AdminApproval]
GO
ALTER TABLE [dbo].[tblTutors] ADD  CONSTRAINT [DF_tblTutors_CompletedExamsCount]  DEFAULT ((0)) FOR [CompletedExamsCount]
GO
ALTER TABLE [dbo].[tblTutors] ADD  CONSTRAINT [DF_tblTutors_DownloadedPaperCount]  DEFAULT ((0)) FOR [DownloadedPaperCount]
GO
ALTER TABLE [dbo].[BankBranches]  WITH CHECK ADD  CONSTRAINT [FK_BankBranches_Banks] FOREIGN KEY([BankId])
REFERENCES [dbo].[Banks] ([BankID])
GO
ALTER TABLE [dbo].[BankBranches] CHECK CONSTRAINT [FK_BankBranches_Banks]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Cart] FOREIGN KEY([CartId])
REFERENCES [dbo].[Cart] ([CartId])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Cart]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_PastPapers] FOREIGN KEY([PastPaperId])
REFERENCES [dbo].[PastPapers] ([PastPaerID])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_PastPapers]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_Districts_Provinces] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([ProvinceID])
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_Provinces]
GO
ALTER TABLE [dbo].[ExamMapDetails]  WITH CHECK ADD  CONSTRAINT [FK_ExamMapDetails_Exams] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[ExamMapDetails] CHECK CONSTRAINT [FK_ExamMapDetails_Exams]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_ExamTypes] FOREIGN KEY([ExamTypeId])
REFERENCES [dbo].[ExamTypes] ([ExamTypeID])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_ExamTypes]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Mediums] FOREIGN KEY([MediumId])
REFERENCES [dbo].[Mediums] ([MediumID])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Mediums]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Notifications] FOREIGN KEY([NotificationId])
REFERENCES [dbo].[Notifications] ([NotificationID])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Notifications]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_PastPapers] FOREIGN KEY([PastPaperId])
REFERENCES [dbo].[PastPapers] ([PastPaerID])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_PastPapers]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Subjects]
GO
ALTER TABLE [dbo].[McqDetails]  WITH CHECK ADD  CONSTRAINT [FK_McqDetails_ExamTypes] FOREIGN KEY([ExamTypeID])
REFERENCES [dbo].[ExamTypes] ([ExamTypeID])
GO
ALTER TABLE [dbo].[McqDetails] CHECK CONSTRAINT [FK_McqDetails_ExamTypes]
GO
ALTER TABLE [dbo].[McqDetails]  WITH CHECK ADD  CONSTRAINT [FK_McqDetails_Subjects] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[McqDetails] CHECK CONSTRAINT [FK_McqDetails_Subjects]
GO
ALTER TABLE [dbo].[NotificationAssign]  WITH CHECK ADD  CONSTRAINT [FK_NotificationAssign_Notifications] FOREIGN KEY([NotificationId])
REFERENCES [dbo].[Notifications] ([NotificationID])
GO
ALTER TABLE [dbo].[NotificationAssign] CHECK CONSTRAINT [FK_NotificationAssign_Notifications]
GO
ALTER TABLE [dbo].[PastPapers]  WITH CHECK ADD  CONSTRAINT [FK_PastPapers_ExamTypes] FOREIGN KEY([ExamTypeID])
REFERENCES [dbo].[ExamTypes] ([ExamTypeID])
GO
ALTER TABLE [dbo].[PastPapers] CHECK CONSTRAINT [FK_PastPapers_ExamTypes]
GO
ALTER TABLE [dbo].[PastPapers]  WITH CHECK ADD  CONSTRAINT [FK_PastPapers_Mediums] FOREIGN KEY([MediumID])
REFERENCES [dbo].[Mediums] ([MediumID])
GO
ALTER TABLE [dbo].[PastPapers] CHECK CONSTRAINT [FK_PastPapers_Mediums]
GO
ALTER TABLE [dbo].[PastPapers]  WITH CHECK ADD  CONSTRAINT [FK_PastPapers_Subjects] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[PastPapers] CHECK CONSTRAINT [FK_PastPapers_Subjects]
GO
ALTER TABLE [dbo].[PreferedTutorExamTypes]  WITH CHECK ADD  CONSTRAINT [FK_PreferedTutorExamTypes_ExamTypes] FOREIGN KEY([ExamTypeId])
REFERENCES [dbo].[ExamTypes] ([ExamTypeID])
GO
ALTER TABLE [dbo].[PreferedTutorExamTypes] CHECK CONSTRAINT [FK_PreferedTutorExamTypes_ExamTypes]
GO
ALTER TABLE [dbo].[PreferedTutorMediums]  WITH CHECK ADD  CONSTRAINT [FK_PreferedTutorMediums_Mediums] FOREIGN KEY([MediumId])
REFERENCES [dbo].[Mediums] ([MediumID])
GO
ALTER TABLE [dbo].[PreferedTutorMediums] CHECK CONSTRAINT [FK_PreferedTutorMediums_Mediums]
GO
ALTER TABLE [dbo].[PreferedTutorSubject]  WITH CHECK ADD  CONSTRAINT [FK_PreferedTutorSubject_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[PreferedTutorSubject] CHECK CONSTRAINT [FK_PreferedTutorSubject_Subjects]
GO
ALTER TABLE [dbo].[StudentsMcqAnswers]  WITH CHECK ADD  CONSTRAINT [FK_StudentsMcqAnswers_Exams] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[StudentsMcqAnswers] CHECK CONSTRAINT [FK_StudentsMcqAnswers_Exams]
GO
ALTER TABLE [dbo].[SubjectImages]  WITH CHECK ADD  CONSTRAINT [FK_SubjectImages_Mediums] FOREIGN KEY([MediumId])
REFERENCES [dbo].[Mediums] ([MediumID])
GO
ALTER TABLE [dbo].[SubjectImages] CHECK CONSTRAINT [FK_SubjectImages_Mediums]
GO
ALTER TABLE [dbo].[SubjectImages]  WITH CHECK ADD  CONSTRAINT [FK_SubjectImages_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[SubjectImages] CHECK CONSTRAINT [FK_SubjectImages_Subjects]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Subjects_ExamTypes] FOREIGN KEY([ExamTypeId])
REFERENCES [dbo].[ExamTypes] ([ExamTypeID])
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK_Subjects_ExamTypes]
GO
ALTER TABLE [dbo].[tblOnlineStudentMaster]  WITH CHECK ADD  CONSTRAINT [FK_tblOnlineStudentMaster_ExamTypes] FOREIGN KEY([ExamTypeId])
REFERENCES [dbo].[ExamTypes] ([ExamTypeID])
GO
ALTER TABLE [dbo].[tblOnlineStudentMaster] CHECK CONSTRAINT [FK_tblOnlineStudentMaster_ExamTypes]
GO
ALTER TABLE [dbo].[tblOnlineStudentMaster]  WITH CHECK ADD  CONSTRAINT [FK_tblOnlineStudentMaster_Mediums] FOREIGN KEY([MediumId])
REFERENCES [dbo].[Mediums] ([MediumID])
GO
ALTER TABLE [dbo].[tblOnlineStudentMaster] CHECK CONSTRAINT [FK_tblOnlineStudentMaster_Mediums]
GO
ALTER TABLE [dbo].[tblTutors]  WITH CHECK ADD  CONSTRAINT [FK_tblTutors_Districts] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([DistrictID])
GO
ALTER TABLE [dbo].[tblTutors] CHECK CONSTRAINT [FK_tblTutors_Districts]
GO
ALTER TABLE [dbo].[TutorHotSpots]  WITH CHECK ADD  CONSTRAINT [FK_TutorHotSpots_Exams] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[TutorHotSpots] CHECK CONSTRAINT [FK_TutorHotSpots_Exams]
GO
ALTER TABLE [dbo].[UploadImages]  WITH CHECK ADD  CONSTRAINT [FK_UploadImages_Exams] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[UploadImages] CHECK CONSTRAINT [FK_UploadImages_Exams]
GO
USE [master]
GO
